<div id="header">
  <div id="menu">
     
    <!-- Menu -->
        <div id="submenu">
            <a (click)="goAccueil()" style='cursor: pointer'>Accueil</a>
        </div>
        <div id="submenu">
            <a (click)="goResa()"  style='cursor: pointer'>Louer un véhicule</a>
        </div>
        <div id="submenu">
             <a (click)="goContact()" style='cursor: pointer'>Contact</a>
        </div>
        <div id="submenu">
              <a (click)="goQuisommesnous()" style='cursor: pointer'>Qui sommes-nous ?</a>
        </div>
  
        <div id="finmenu">
            <a (click)="goUpdateResa()" style='cursor: pointer'>Voir ou modifier une réservation</a>
        </div>

        <div id="finmenu">
            <a (click)="goLogin()" style='cursor: pointer'>Mon compte</a>
        </div>
  </div> <!-- fin menu-->
  <div id="bandeau">
    <div id="bandeau-text"> Location de citadines, familiales, SUV et utilitaires </div>

 <div class="logo"> <img  src="{{ '/assets/logo.jpg' }} " />
 </div>

</div> 
</div> <!--Fin header-->

<div >
  


  <div>

   

    <div id="div0">
      <div id="header-div">
        <h4> Réservation </h4>
      </div>
      <div class='div0img'>
        <img src="{{  '/assets/kadjar.jpg' }} " />
      </div>
      

      <!--Login -->
      <div id="p2">Vous possédez déjà un compte ? Connectez-vous : </div>
      <div id="form-login"> <input id="form-login" placeHolder="Pseudo" name="Pseudo">
        <input id="form-login" placeHolder="Mot de passe" name="Mot de passe">
        <input id="login-button" type="button" value="Se connecter" (click)="Login()" />
      </div>
      <div id="p3">Pas encore client ? Créez un compte <a (click)="goCreerCompte()" style='cursor: pointer'>en
          cliquant ici</a></div>
          
      
    

          
    
      <!-- Résumé choix vehicule -->
      <div id="p4"> Vous avez sélectionné : </div>
      <div id="type-vehicule"> Renault Kadjar{{ vehicule.marque }} </div>
      <div id="dates"> du {{ reservation.dateDebut }} au {{ reservation.dateFin }} </div>
      <div id="agence"> à notre agence de {{ reservation.agenceDebut }} </div>
      
      <div id="form">
        <!-- Form infos clients  -->
        <div id="form-identite"> Nom : <input id="Nom" placeHolder="Nom" name="Nom">
          Prenom : <input id="Nom" placeHolder="Prenom" name="Prenom">
        </div>
        <div id="form-anneePermis"> Année d'obtention du permis B : <input id="année" placeHolder="année" name="année">
        </div>
        <div id="form-coordonnees"> Email : <input id="mail" placeHolder="mail" name="mail">
          Téléphone : <input id="telephone" placeHolder="telephone" name="telephone">
        </div>
      
        <div id="form-adresse"> Adresse : <input id="adresse" placeHolder="adresse" name="adresse"></div>
        <!-- boutons -->
      
        <div id="ok-button"> <input type="button" value="Confirmer" (click)="addResa()" /> </div>
        <div id="goback-button"> <input type="button" value="Retour" (click)="goResa()" /> </div>
        <!-- Dans la methode addResa penser à mettre ifnull => Message d'erreur + pattern email + année permis + validator nom prenom (minlength = 2)-->
       
  
      </div>

     
        
      <div id="divFooter0">
          <a (click)="goAgences()">clic</a> 
        
            <img src="{{  '/assets/position.bmp' }} " >
        <div id="p0">Trouver une agence </div>
        <div id="p1"> Parmi nos 10 agences en France </div>
      </div>
      
      <div id="divFooter0">
        <div class='imgFooter0'>
          <a (click)="goInfos()"><img src="{{ '/assets/twingo.jpg' }} " />
        </a>
          <!-- Image A remplacer par unevoiture -->
        </div>
        <div id="p0">Découvrez Tant qu'ça roule</div>
        <div id="p1"> Loueurs de très bons véhicules </div>
      </div>

      <div id="divFooter0">
        <div class='imgFooter0'>
          <a (click)="goContact()">
            <img src="{{ '/assets/kadjar.jpg' }} " />
        </a>
          <!-- Image A remplacer par contact -->
        </div>
        <div id="p0">N'hésitez pas à nous contacter </div>
        <div id="p1"> pour tout renseignement complémentaire </div>
      </div>
    </div>

  
  </div>


</div>

<div id="ligne"> </div>
<div id="footerfinal"> Dernier footer infos Tant qu'ça roule</div>
