<div id="header">
  <div id="menu">

    <!-- Menu -->
    <div id="submenu">
      <a (click)="goAccueil()" style='cursor: pointer'>Accueil</a>
    </div>
    <div id="submenu">
      <a (click)="goResa()" style='cursor: pointer'>Louer un véhicule</a>
    </div>
    <div id="submenu">
      <a (click)="goContact()" style='cursor: pointer'>Contact</a>
    </div>
    <div id="submenu">
      <a (click)="goQuisommesnous()" style='cursor: pointer'>Qui sommes-nous ?</a>
    </div>

    <div id="finmenu">
      <a (click)="goUpdateResa()" style='cursor: pointer'>Voir ou modifier une réservation</a>
    </div>

    <div id="finmenu">
      <a (click)="goLogin()" style='cursor: pointer'>Mon compte</a>
    </div>
  </div> <!-- fin menu-->
  <div id="bandeau">
    <div id="bandeau-text"> Location de citadines, familiales, SUV et utilitaires </div>

    
 <div id='logo'> <img  src="/assets/logo.jpg" />
 </div>

  </div>
</div>
<!--Fin header-->

<div>



  <div>



    <div id="div0">
      <div id="header-div">
        <h4> Réservation </h4>
      </div>
      <div class='div0img'>
        <img src="{{  reservation.vehicule.photo }} " />
      </div>


      <!-- Si pas Login -->
      <div id="p2">Vous possédez déjà un compte ? Connectez-vous : </div>
      <div id="form-login"> <input id="form-login" placeHolder="Pseudo" name="Pseudo">
        <input id="form-login" placeHolder="Mot de passe" name="Mot de passe">
        <input id="login-button" type="button" value="Se connecter" (click)="Login()" />
      </div>
      <div id="p3">Pas encore client ? Créez un compte <a (click)="goCreerCompte()" style='cursor: pointer'>en
          cliquant ici</a></div>

      <!-- Si login -->
      <div id="p2">Bonjour, {{ CLient.pseudo }} </div>
      <div id="p3"> Ce n'est pas vous ? Déconnectez-vous <a (click)="goCreerCompte()" style='cursor: pointer'>en
          cliquant ici</a></div>




      <!-- Résumé choix vehicule -->
      <div id="p4"> Vous avez sélectionné : </div>
      <div id="type-vehicule"> {{ reservation.vehicule.marque }} </div>
      <div id="dates"> du {{ reservation.dateDebut }} au {{ reservation.dateFin }} </div>
      <div id="agence"> à notre agence de {{ reservation.agenceDebut }} </div>

      <div id="form">
        <!-- Form infos clients  -->
        <div id="form-identite"> Nom : <input id="nom" placeHolder="Nom" name="nom" [(ngModel)]="reservation.client.nom"
            required minlength="2">
          Prenom : <input id="Nom" placeHolder="Prenom" name="prenom" [(ngModel)]="reservation.client.prenom" required
            minlength="2">
        </div>
        <div id="form-anneePermis"> Année d'obtention du permis B : <input id="annee" placeHolder="annee" name="annee"
            [(ngModel)]="reservation.client.anneePermis" required minlength="4">
        </div>
        <div id="form-coordonnees"> Email : <input id="mail" placeHolder="mail" name="mail"
            [(ngModel)]="reservation.client.mail" required minlength="4" pattern=%@%.>
          Téléphone : <input id="telephone" placeHolder="telephone" name="telephone"
            [(ngModel)]="reservation.client.telephone" required minlength="10">
        </div>

        <div id="form-adresse"> Adresse : <input id="adresse" placeHolder="adresse" name="adresse"
            [(ngModel)]="reservation.client.adresse" required minlength="10"></div>
        <!-- boutons -->

        <div id="ok-button"> <input type="button" value="Confirmer" (click)="addResa()" /> </div>
        <div id="goback-button"> <input type="button" value="Retour" (click)="goResa()" /> </div>
        <!-- Dans la methode addResa penser à mettre ifnull => Message d'erreur + pattern email + année permis + validator nom prenom (minlength = 2)-->

        <!-- messages erreurs si input vide-->
        <div *ngIf="nom.errors.required">
          Veuillez entrer votre nom.
        </div>
        <div *ngIf="prenom.errors.required">
          Veuillez entrer votre prénom.
        </div>
        <div *ngIf="annee.errors.required">
          Veuillez entrer l'année d'obtention du permis B.
        </div>
        <div *ngIf="mail.errors.required">
          Veuillez entrer votre adresse e-mail.
        </div>
        <div *ngIf="telephone.errors.required">
          Veuillez entrer votre numéro de téléphone.
        </div>
        <div *ngIf="adresse.errors.required">
          Veuillez entrer votre adresse.
        </div>
        <!-- messages erreurs si input < minlength-->
        <div *ngIf="name.errors.minlength">
          Le nom entré doit faire plus de 2 caractères.
        </div>
        <div *ngIf="prenom.errors.minlength">
          Le prénom entré doit faire plus de 2 caractères.
        </div>
        <div *ngIf="annee.errors.minlength">
          Veuillez renseigner une année d'obtention du permis B valide (ex. 2019).
        </div>
        <div *ngIf="mail.errors.minlength">
          Veuillez renseigner une adresse e-mail valide.
        </div>
        <div *ngIf="telephone.errors.minlength">
          Veuillez renseigner un numéro de téléphone valide
        </div>
        <div *ngIf="adresse.errors.minlength">
          Veuillez renseigner un numéro de téléphone valide
        </div>
      </div>
      <!--fin div form-->



      <div id="divFooter0">
      
        <div class='imgFooter0' (click)="goAgences()">
        <img src='/assets/position.bmp' >
        </div>
        <div id="p0">Trouver une agence </div>
        <div id="p1"> Parmi nos 10 agences en France </div>
      </div>

      <div id="divFooter0" (click)="goQuisommesnous()">
        <div class='imgFooter1'>
          <a (click)="goInfos()"><img src='/assets/twingo.jpg'  />
          </a>
          <!-- Image A remplacer par unevoiture -->
        </div>
        <div id="p0">Découvrez Tant qu'ça roule</div>
        <div id="p1"> Loueurs de très bons véhicules </div>
      </div>

      <div id="divFooter0" (click)="goContact()">
        <div class='imgFooter1'>
          <a (click)="goContact()">
            <img src='/assets/kadjar.jpg'  />
          </a>
          <!-- Image A remplacer par contact -->
        </div>
        <div id="p0">N'hésitez pas à nous contacter </div>
        <div id="p1"> pour tout renseignement complémentaire </div>
      </div>
    </div>


  </div>


</div>

<div id="ligne"> </div>
<div id="footerfinal0"> Tant qu'ça roule Société</div>
<div id="footerfinal1"> Tant qu'ça roule Société</div>
<div id="footerfinal1"> Tant qu'ça roule Société</div>
<div id="footerfinal1"> Tant qu'ça roule Société</div>