

    <div id="footer0">
        <div id="divFooter0">
          <div class='imgFooter0'>
            <img src="{{ recipe.cover_photo ? recipe.cover_photo : '/assets/emptybowl.jpg' }} " />
            <!-- Image A remplacer par carte -->
          </div>
          <div id="p0">Trouver nos agences </div>
          <div id="p1"> Parmi les 15 agences en France </div>
        </div>
  
        <div id="divFooter0">
          <div class='imgFooter0'>
            <img src="{{ recipe.cover_photo ? recipe.cover_photo : '/assets/emptybowl.jpg' }} " />
            <!-- Image A remplacer par unevoiture -->
          </div>
          <div id="p0">Découvrez Tant qu'ça roule</div>
          <div id="p1"> Loueurs de très bons véhicules </div>
        </div>
  
        <div id="divFooter0">
          <div class='imgFooter0'>
            <img src="{{ recipe.cover_photo ? recipe.cover_photo : '/assets/emptybowl.jpg' }} " />
            <!-- Image A remplacer par contact -->
          </div>
          <div id="p0">N'hésitez pas à nous contacter </div>
          <div id="p1"> pour tout renseignement complémentaire </div>
        </div>
      </div>
  
  
  
  
  
  

  
  <div id="ligne">div final </div>
  <div id="footerfinal"> Dernier footer infos Tant qu'ça roule</div>