<app-top-page></app-top-page>
<br>
<br>



<div id="bouton" >
 <button pButton type="button" label="Ajouter un véhicule" class="ui-button-raised ui-button-secondary" (click)="addNewVehiculePressed()"></button>
  </div>
 
  <div id="titre"> <h1>Nos véhicules</h1> </div>

  <p-header>
      <input ng-model="vehicule.emplacement">  </p-header>

  <div id="div0">
  <p-scrollPanel [style]="{width: '100%', height: '100%'}">
    <app-vehicule-summary *ngFor="let vehicule of vehicules" [vehicule]="vehicule" (userClick)="userClickedOnVehicule($event)" > 
    </app-vehicule-summary> 
    </p-scrollPanel>
</div>
