<app-top-page></app-top-page>

 
 

    <div id="corps">
  <div id="header"> Ajouter un véhicule</div>
  <!-- <div id="emplacement"> Ce véhicule se trouve à l'agence de : {{ new_vehicule.emplacement}} </div> -->

    <div id="formulaire"> 
          <div class="ui-g-6">
            <div class="input-group">
          <span class="input-group-addon"><h5>Type</h5></span>
          <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="new_vehicule.type" type="text" name="type" ></textarea>
      </div><br><br>
        <div class="input-group">
          <span class="input-group-addon"><h5>Marque</h5></span>
          <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="new_vehicule.marque"  
          name="marque"></textarea>
      </div><br><br>
      <div class="input-group">
          <span class="input-group-addon"><h5>Places</h5></span>
          <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="new_vehicule.nombrePlaces" 
          name="nombrePlaces" ></textarea>
      </div><br><br>
      <div class="input-group">
          <span class="input-group-addon"><h5>Consommation (L/100Km)</h5></span>
          <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="new_vehicule.consommation" 
          name="consommation" ></textarea></div>
      </div><br><br>
      <div class="ui-g-6">
      <div class="input-group">
          <span class="input-group-addon"> <h5>Emplacement </h5> </span>
          <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="new_vehicule.emplacement" 
          name="emplacement" ></textarea>
      </div><br><br>
      <div class="input-group">
          <span class="input-group-addon"> <h5>Disponibilite </h5> </span>
          <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="new_vehicule.disponibilite"
          name="disponibilite" ></textarea>
      </div><br><br>
      <div class="input-group">
          <span class="input-group-addon"> <h5>Etat des lieux</h5></span>
          <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="new_vehicule.etatLieu"
          name="etatLieu"></textarea>
      </div><br><br>
      <div class="input-group">
          <span class="input-group-addon"> <h5>Prix</h5> </span>
          <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="new_vehicule.prix" name="prix"></textarea>
      </div><br><br></div>

      <div id="bouton">
        <button pButton type="button" label="Ajouter un véchiule" class="ui-button-raised ui-button-secondary" (click)="addUpdateVehiculeClicked()" ></button>
      </div>
    </div>
  </div> <!-- Fin corps-->
 