<div id="header">
  <div id="menu">
    <div id="submenu">
     
    <!-- Menu -->
    <div id="submenu">
      <a (click)="goAccueil()" style='cursor: pointer'>Accueil</a></div>
    <div id="submenu">
   <a (click)="goResa()"  style='cursor: pointer'>Louer un véhicule</a></div>
    <div id="submenu">
      <a (click)="goContact()" style='cursor: pointer'>Contact</a></div>
    <div id="submenu">
      <a (click)="goQuisommesnous()" style='cursor: pointer'>Qui sommes-nous ?</a>
  
    <div id="finmenu">
      <a (click)="goUpdateResa()" style='cursor: pointer'>Voir ou modifier une réservation</a></div>
      <div id="finmenu">
    <a (click)="goLogin()" style='cursor: pointer'>Mon compte</a></div></div>
    <div id="bandeau">
        <div id="bandeau-text"> Location de citadines, familiales, SUV et utilitaires </div>
     <div id="logo"> <img  src="{{ '/assets/logo.jpg' }} " />
     </div>
    </div> 

    </div>
    </div>
</div>