<div id="header">
    <div id="menu">
       
      <!-- Menu -->
          <div id="submenu">
              <a (click)="goAccueil()" style='cursor: pointer'>Accueil</a>
          </div>
          <div id="submenu">
              <a (click)="goResa()"  style='cursor: pointer'>Louer un véhicule</a>
          </div>
          <div id="submenu">
               <a (click)="goContact()" style='cursor: pointer'>Contact</a>
          </div>
          <div id="submenu">
                <a (click)="goQuisommesnous()" style='cursor: pointer'>Qui sommes-nous ?</a>
          </div>
    
          <div id="finmenu">
              <a (click)="goUpdateResa()" style='cursor: pointer'>Voir ou modifier une réservation</a>
          </div>
  
          <div id="finmenu">
              <a (click)="goLogin()" style='cursor: pointer'>Mon compte</a>
          </div>
    </div> <!-- fin menu-->
    <div id="bandeau">
      <div id="bandeau-text"> Location de citadines, familiales, SUV et utilitaires </div>
  
 <div id='logo'> <img  src="/assets/logo.jpg" />
 </div>
  
  </div> 
  </div> <!--Fin header-->

<div id="corps">
  <div id="numresa">
  Entrez le numéro de votre réservation
    <div class="form-group">
        <input class="form-control" [(ngModel)]="id_reservation" type="text" placeholder="123"
          name="id_reservation" />         <input type="button" value="Chercher" (click)="chercherResa()" />
      </div>
    </div>

    <div id="nomprenom">
      <!-- Vous ne trouvez plus votre numéro de réservation ? Entrez vos noms et prénom ici : -->
      <!-- <div class="form-group">
          <input class="form-control" [(ngModel)]="nomPrenom" type="text" placeholder="Prenom Nom"
            name="id_reservation" />         <input type="button" value="Chercher" (click)="chercherResaClient($event)" />
        </div> -->

        <div id="pb">Un problème ? <a id="contact" (click)="goContact()" style='cursor: pointer'> Contactez-nous</a> </div>
    </div> 

</div> <!-- fin corps-->
  

<div id="divFooter0">

        <div class='imgFooter0' (click)="goAgences()">
          <img src='/assets/position.bmp'>
        </div>
        <div id="p0">Trouver une agence </div>
        <div id="p1"> Parmi nos 10 agences en France </div>
      </div>
      
      <div id="divFooter0" (click)="goQuisommesnous()">
        <div class='imgFooter1'>
          <a (click)="goInfos()"><img src='/assets/twingo.jpg' />
          </a>
          <!-- Image A remplacer par unevoiture -->
        </div>
        <div id="p0">Découvrez Tant qu'ça roule</div>
        <div id="p1"> Loueurs de très bons véhicules </div>
      </div>
      
      <div id="divFooter0" (click)="goContact()">
        <div class='imgFooter1'>
          <a (click)="goContact()">
            <img src='/assets/kadjar.jpg' />
          </a>
          <!-- Image A remplacer par contact -->
        </div>
        <div id="p0">N'hésitez pas à nous contacter </div>
        <div id="p1"> pour tout renseignement complémentaire </div>
      </div>
      
      
      
      
      
      
      
      
      <div id="ligne"> </div>
      <div id="footerfinal0"> Tant qu'ça roule Société</div>
      <div id="footerfinal1"> Tant qu'ça roule Société</div>
      <div id="footerfinal1"> Tant qu'ça roule Société</div>
      <div id="footerfinal1"> Tant qu'ça roule Société</div>