<div id="header">
  <div id="menu">
    <div id="submenu">
     
    <!-- Menu projetFinal-->
    <div id="submenu">
      <a (click)="goAccueil()" style='cursor: pointer'>Accueil</a></div>
    <div id="submenu">
   <!--Faire button lien vers path=louerVehicule-->  <a (click)="goResa()"  style='cursor: pointer'>Louer un véhicule</a></div>
    <div id="submenu">
      <a (click)="goContact()" style='cursor: pointer'>Contact</a></div>
    <div id="submenu">
      <a (click)="goQuisommesnous()" style='cursor: pointer'>Qui sommes-nous ?</a></div>
  
    <div id="finmenu">
      <a (click)="goUpdateResa()" style='cursor: pointer'>Voir ou modifier une réservation</a></div>
      <div id="finmenu">

    <a (click)="goLogin()" style='cursor: pointer'>Mon compte</a></div>
  </div>

  Logo
  <div id="bandeau">Location de citadines, familiales, SUV et utilitaires </div>
</div>


<div class='recipe panel panel-default'>
  


  <div class="panel-body">

   

    <div id="div0">
      <div id="header-div">
        <h4> Ingrediens </h4>
      </div>
      <div class='div0img'>
        <img src="{{ recipe.cover_photo ? recipe.cover_photo : '/assets/emptybowl.jpg' }} " />
      </div>
      

      <!--Login -->
      <div id="p2">Vous possédez déjà un compte ? Connectez-vous : </div>
      <div id="form-login"> <input id="form-login" placeHolder="Pseudo" name="Pseudo">
        <input id="form-login" placeHolder="Mot de passe" name="Mot de passe">
        <input id="login-button" type="button" value="Se connecter" (click)="Login()" />
      </div>
      <div id="p3">Pas encore client ? Créez un compte <a (click)="goCreerCompte()" style='cursor: pointer'>en
          cliquant ici</a></div>


      <!-- Résumé choix vehicule -->
      <div id="p4"> Vous avez sélectionné : </div>
      <div id="type-vehicule"> Renault Kadjar{{ vehicule.marque }} </div>
      <div id="dates"> du {{ reservation.dateDebut }} au {{ reservation.dateFin }} </div>
      <div id="agence"> à notre agence de {{ reservation.agenceDebut }} </div>

      <div id="form">
        <!-- Form infos clients  -->
        <div id="form-identite"> Nom : <input id="Nom" placeHolder="Nom" name="Nom">
          Prenom : <input id="Nom" placeHolder="Prenom" name="Prenom">
        </div>
        <div id="form-anneePermis"> Année d'obtention du permis B : <input id="année" placeHolder="année" name="année">
        </div>
        <div id="form-coordonnees"> Email : <input id="mail" placeHolder="mail" name="mail">
          Téléphone : <input id="telephone" placeHolder="telephone" name="telephone">
        </div>
        <div id="form-adresse"> Adresse : <input id="adresse" placeHolder="adresse" name="adresse"></div>
        <!-- boutons -->
        <div id="ok-button"> <input type="button" value="Confirmer" (click)="addResa()" /> </div>
        <div id="goback-button"> <input type="button" value="Retour" (click)="GoPageReservation()" /> </div>
        <!-- Dans la methode addResa penser à mettre ifnull => Message d'erreur + pattern email + année permis + validator nom prenom (minlength = 2)-->
      </div>



    

    <div id="footer0">
      <div id="divFooter0">
        <div class='imgFooter0'>
          <img src="{{ recipe.cover_photo ? recipe.cover_photo : '/assets/emptybowl.jpg' }} " />
          <!-- Image A remplacer par carte -->
        </div>
        <div id="p0">Trouver nos agences </div>
        <div id="p1"> Parmi les 15 agences en France </div>
      </div>

      <div id="divFooter0">
        <div class='imgFooter0'>
          <img src="{{ recipe.cover_photo ? recipe.cover_photo : '/assets/emptybowl.jpg' }} " />
          <!-- Image A remplacer par unevoiture -->
        </div>
        <div id="p0">Découvrez Tant qu'ça roule</div>
        <div id="p1"> Loueurs de très bons véhicules </div>
      </div>

      <div id="divFooter0">
        <div class='imgFooter0'>
          <img src="{{ recipe.cover_photo ? recipe.cover_photo : '/assets/emptybowl.jpg' }} " />
          <!-- Image A remplacer par contact -->
        </div>
        <div id="p0">N'hésitez pas à nous contacter </div>
        <div id="p1"> pour tout renseignement complémentaire </div>
      </div>
    </div>




  </div>


</div>

<div id="ligne">div final </div>
<div id="footerfinal"> Dernier footer infos Tant qu'ça roule</div>